body {
    background: rgb(170, 108, 236)
}
img {
    border: 5px solid rgb(218, 199, 239);
    border-radius: 5px;
}
h1 { 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(218, 199, 239);
}
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pointer {cursor: pointer}